<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514380928389-77cgg1afhlv8ka69d5kc8125pisprdsl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514380928389-77cgg1afhlv8ka69d5kc8125pisprdsl</string>
	<key>API_KEY</key>
	<string>AIzaSyCpC_6cxJB1is1EPe4IsBUw_uUx96T9vUc</string>
	<key>GCM_SENDER_ID</key>
	<string>514380928389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashCards</string>
	<key>PROJECT_ID</key>
	<string>flashcards-b67fb</string>
	<key>STORAGE_BUCKET</key>
	<string>flashcards-b67fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514380928389:ios:c8632509e6856c46c560ec</string>
</dict>
</plist>